{% extends 'base/base.html' %}
{% block content %}
<div class="flex">
    {% include "base/nav.html" %}
    <div class="flex flex-col w-full">
        <div class="lg:px-32 py-8">
            <div class="flex justify-between">
                <div class="text-indigo-800 text-3xl font-semibold">{{ gall.name }} 갤러리</div>
                <a href="https://gall.dcinside.com/mgallery/board/lists?id={{ gall.gallId }}"><div class="border-indigo-800 border-2 rounded p-1.5 text-indigo-800 text-xl font-semibold">갤러리 바로가기</div></a>
            </div>
            
            <div class="my-2 flex h-32">
                <div class="border-2 border-r-0 border-indigo-800 flex-grow">
                    <div class="p-2 text-sm">{{ gall.content }}</div>
                </div>
                <div class="border-2 border-r-0 border-indigo-800 w-32 text-center">
                    <div class="mt-4 font-semibold">오늘 순위</div>
                    <div class="mt-4 text-3xl font-semibold">{{ todayRank }}</div>
                </div>
                <div class="border-2 border-r-0 border-indigo-800 w-32 text-center">
                    <div class="mt-4 font-semibold">최근 순위</div>
                    <div class="mt-4 text-3xl font-semibold">{{ averageRank }}</div>
                </div>
                <div class="border-2 border-indigo-800 w-32 text-center">
                    <div class="mt-4 font-semibold">최근 일일 게시글</div>
                    <div class="mt-4 text-2xl font-semibold">{{ averagePostCount }}</div>
                </div>
            </div>

        </div>
    </div>
    {% include "base/footer.html" %}
</div>
{% endblock %}